/* Top banner */
/* index.css or App.css */
@font-face {
  font-family: 'Iranian Sans';
  src: url('../Fonts/Iranian\ Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Iranian Sans', sans-serif;
}
.top-banner {
    background-color: #E61642;
    color: white;
    text-align: center;
    padding: 4px;
  }
  
  /* Main header */
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-direction: row-reverse;
  }
  
  .logo img {
    width: 200px;
    margin-right: 100px;
  }
  
  .search-bar input {
    width: 550px;
    padding: 12px;
    margin-left: 720px;
    background-color: rgb(240,240,241);
    border-radius: 5px;
    border: 1px ;
    text-align: end;
    font-size:medium;
    
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 40px;

  }
  
  .login-register {
    margin-right: 20px;
  }
  
  .login-button {
    background: none;
    border: solid 1px #e7dddd;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    font-family: 'Iranian Sans', sans-serif;
    
  }
  
  .cart-icon img {
    width: 25px;
    padding: 10px;
    
  }
  
  /* Secondary menu */
  .secondary-menu {
    background-color: #ffffff;
    padding: 10px;
    text-align: right;
    border-bottom: solid 1.7px #e6d5d5;
    font-size: small;
    font-weight: lighter;
    margin-right: 90px;
  }
  
  .secondary-menu nav a {
    margin: 0 15px;
    color: #000;
    text-decoration: none;
  }
  .category {
   font-weight: bold;
  }
