/* Container Styling */
.shop-container {
  background-color: rgb(230,22,66);
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  color: white;
  text-align: right;
  direction: rtl;
  
}


.shop-container h1 {
  color: white;
  margin-bottom: 15px;
  font-size: 24px;
}

/* Carousel Controls */
.products-carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-control {
  background-color: rgb(230,22,66);
  color: white;
  border: none;
  font-size: 24px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-control.left {
  left: 5px;
}

.carousel-control.right {
  right:165px;
}

/* Products Grid Styling */
.products-grid {
  display: flex;
  gap: 4px; /* Adds space between each item */
  overflow: hidden; /* Hides the scrollbar */
  scroll-behavior: smooth;
}


/* Product Card Styling */
.product-item {
  background-color: white;
  padding: 10px;
  width: 140px;
  min-width: 140px;
  text-align: center;
  color: black;
  position: relative;
  font-size: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.buy-button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  background-color: #f53f45;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
/* Product Image Styling */
.product-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 8px;
}

/* Product Title Styling */
.product-title {
  font-size: 13px;
  margin: 5px 0;
  color: #333;
  height: 35px;
  overflow: hidden;
  line-height: 1.2;
}

/* Current Price Styling */
.product-price {
  font-weight: bold;
  color: #f53f45;
  font-size: 14px;
  margin: 5px 0;
}

/* Old Price Styling */
.old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 11px;
}

/* Discount Badge Styling */
.discount-badge {
  background-color: #f53f45;
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Reviews Rating Styling */
.product-rating {
  font-size: 11px;
  color: #555;
}
/* Countdown Timer Styling */
.countdown-timer {
  background-color: rgb(230,22,66);
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
}
